.scheduler{
  width: 100%;
}
.scheduler thead{
  background:#5858FA;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  font-style: normal;
  height: 30px;
}
.scheduler .hour{
  width:50px;
  background: #CED8F6;
  border-radius: 8px;
  text-align: center;
    
}

.scheduler .section{
  width:150px;
  height: 20px;  
  border-width: 0px;
  border-style: solid; 
  background: azure;
}

.scheduler .event-section{
  width:150px;
  height: 32px;  
  border-width: 0px;
  border-style: solid;
  border-radius: 8px;
  background: #5882FA;
  text-align: center;
}

.scheduler .event{
  font-size: 12px;
}

body{
  background: #EFF5FB;
}